body {
  font-family:'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.2;
  background: #121212;
  color: #e0e0e0;
}
header {
  background: #333;
  color: #fff;
  padding: 10px 0;

}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
header nav ul li {
  margin: 0 15px;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
section {
  background: #02b0d7;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#home {
  background: #333;
  color: #ffa500;
  padding: 4rem 0;
}
#about,#portfolio,#contact {
  background: #1e1e1e;
  color: #e0e0e0;
  padding: 4rem, 2rem;
}

#about {
  position: relative; 
  background: url('assets/images/SouravMukherjee/Background.jpg') no-repeat center center; 
  background-size: cover; 
  color: #e0e0e0; 
  padding: 4rem 2rem;
  text-align: center; 
}