body {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #ffffff;
    background-size: cover;
    background-image: url(../images/indexbackground.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ffcc00;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.styled-table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.styled-table {
    border-collapse: collapse;
    border-spacing: 5px;
    margin: 20px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.5);
}

.styled-table td, .styled-table th {
    border: 2px solid whitesmoke;
    padding: 15px;
    text-align: center;
    color: white;
}

.styled-table thead tr {
    background-color: rgb(56, 59, 62);
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: rgb(67, 67, 67);
}

.styled-table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

@media screen and (max-width: 768px) {
    .styled-table th, .styled-table td {
        padding: 10px;
    }
}

@media screen and (max-width: 350px) {
    .styled-table th, .styled-table td {
        display: block;
        width: 100%;
        text-align: left;
    }

    .styled-table {
        margin: 0;
    }
}
