body {

    font-family: Arial, sans-serif;
    padding: 20px;
    color: #ffffff;
    background-size: cover;
    background-image: url(../images/indexbackground.jpg);
}

a {
    color: white;
}

h1 {
    text-align: center;
    color: #ffffff;
}

.styled-table {
    border-collapse: collapse;
    border-spacing: 5px;
    margin: 20px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table td {
    border: 2px solid whitesmoke;
    /* 1px solid black border */

}

.styled-table tr:hover {
    opacity: 75%;
}

.styled-table thead tr {
    background-color: rgb(56, 59, 62);
    color: #ffffff;
    text-align: left;
    border: #dddddd;
}

.styled-table th,
.styled-table td {
    padding: 15px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: rgb(67, 67, 67);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table-wrapper {
    overflow-x: auto;
}

@media screen and (max-width: 350px) {

    .styled-table th,
    .styled-table td {
        display: block;
        width: 100%;
    }

    .styled-table th {
        text-align: left;
    }

    .styled-table {
        margin: 0, 0;
    }
}