.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  padding: 10px;
}

/* Hide the menu on smaller screens */
@media (max-width: 600px) {
  nav ul {
    display: none;
    flex-direction: column;
    background-color: #444;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }

  .menu-toggle {
    display: block;
    text-align: center;
  }

  nav ul.active {
    display: flex;
  }
}
